{% extends "base.html" %}
{% block content %}
<h1>Change Password</h1>
<form method="POST">
    <div class="mb-3">
        <label>Current Password</label>
        <input type="password" name="current_password" class="form-control">
    </div>
    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="new_password" class="form-control">
    </div>
    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
{% endblock %}
